body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

#header,
#preview,
#gallery {
  position: absolute;
  width: 100%;
}

#header {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#preview {
  top: 3em;
  bottom: 0;
  left: 0;
  width: 60%;
}

#gallery {
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#models {
  flex-flow: row;
  display: flex;
}
#sidebar {
  position: absolute;
  top: 3em;
  bottom: 0;
  right: 0;
  width: 40%;
  display: flex;
  flex-flow: column;
}

#sidebar .section {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  min-height: 0;
  flex: 1 1 0px;
}

#header > * {
  height: 2em;
  margin: 0 0.5em;
  font-size: 1em;
  font-family: ArtifaktElement;
}

#header .title {
  flex: 1 0 auto;
  height: auto;
  font-weight: bold;
}

.gallery-image {
  height: 200px;
  width: 200px;
  padding: 10px;
}

.gallery-image:hover {
  border: 2px solid black;
  opacity: 0.8;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px */
}

@media (min-width: 601px) and (max-width: 1200px) {
  /* Styles for screens with a minimum width of 601px and a maximum width of 1200px */
}

@media (min-width: 1201px) {
  /* Styles for screens with a minimum width of 1201px */
}

.tabulator .tabulator-tableholder {
  display: flex;
}
